<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Schoodle</title>
    <% include partials/_header %>
  </head>

  <body>
    <main class='event-jumbo'>
      <div>
        <h1><%= eventname %></h1>
        <h2><%= eventdate %></h2>
        
        <div class='event-details'>
          <p>
            Address: <%= address %>
            <br>
            Description: <%= description %>
          </p>
        </div>

        <table class='poll-results'>
          <tr>
            <th>Name</th>
            <% times.forEach(time => { %>
              <% if (time) { %>
                <th><%= time %></th>
              <% } %>
            <% }); %>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          
          <% for (let person in votes) { %>
            <tr>
              <td class='vote true'><%= person %></td>
              <% votes[person].forEach((vote) => { %>
                <% if (vote) { %>
                  <td class='vote true'>Y</td>
                <% } else { %>
                  <td class='vote false'>N</td>
                <% } %>
              <% }) %>
              <td><form method='post' action='/something/something/edit'><button class='edit-vote' person='<%= person %>'><i class="fa fa-pencil"/></button></form></td>
              <td><form method='post' action='/something/something/delete'><button class='delete-vote' person='<%= person %>'><i class="fa fa-trash-o"/></button></form></td>
            </tr>
          <% } %>
        </table>
      </div>
    </main>
  </body>
</html>
